.map iframe {
  width: 1200px;
  height: 500px;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-titre {
  text-align: center;
  margin: 0;
}

.section-titre h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.section-titre h3 {
  font-size: 26px;
  margin-bottom: 12px;
}

.section-titre p {
  color: #4b5563;
}
.en-tete {
  margin-bottom: 64px;
}
footer {
  margin-top: 64px;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 60px;
  /* height: auto; */
  width: 80%;
}
.form-right {
  width: 60%;
}
.form-left {
  width: 40%;
  padding: 25px;
    display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  border: #4b5563 solid 1px;
  border-radius: 5px;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.conta p , .conta3 p , .conta2 p{
    margin-bottom: -15px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
.conta h3 , .conta3 h3 , .conta2 h3{
    font-weight: bold;
    font-size: 19px;
    color: #4b5563;
}
.conta  , .conta3  , .conta2 {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.name{
    display: flex;
    justify-content: space-between;
}
.name input{
    width: 185px;
}
.first-name , .second-name , .email , .message{
display: flex;
flex-direction: column;
gap: 6px;

}
label{
    font-weight: bold;
}
input , textarea{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #4b5563;
    font-style: oblique;

}
.message textarea {
    resize: none;
    
   
}
.btn{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 8px;
    border: 2px solid #4b5563;
    background-color: black;
    width: 100px;
    color: #fcfcfc;
    padding: 5px;
  
    font-size: 15px;
    font-weight: bold;

}

.form-right img{
    width: 380px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #E5E7EB;
    box-shadow: 0 10px 25px rgba(15, 27, 45, 0.15);
}

.cadr{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.cadr2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.cover{
  display: flex;
  gap: 25px;
}
.abonment select{
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #4b5563;
    font-style: oblique;
}
header label ,  header input{
  display: none;
}

.cadeau {
  position: absolute;
  background-color:black;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  left: 230px;
  top: 1150px;
  height: 50px;
  width: 200px;
  gap: 3px;
  text-align: center;
  display: none;
}
.cadeau p{
  font-weight: bold;
  margin-bottom: 0;
   color: white;
}
.cover img:hover ~ .cadeau{
  
    display: flex;
  
}
.cover img:hover{
   filter: blur(1px);
}


@media (max-width: 770px) and (min-width: 410px) {
  nav ul {
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: -800px;
  background-color: #fcfcfc;
   box-shadow: 0 10px 25px rgba(15, 27, 45, 0.15);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 33vh;
}
header label{
  display: flex;
  position: relative;
  left: 80px;
}
  #px:checked ~ nav ul {
    left: 0;
  }
  .section-titre h2{
    font-size: 27px;
  }
  .section-titre p{
    font-size: 13px;
  }
   .map{
    width: 400px;
   }

  .contact-form {
    flex-direction: column;
  }
  .form-left {
    /* display: none; */
    width: 100%;
  }
  .name input , .email input{
    display: flex;
    width: 100%;
  }

  .name{
    flex-direction: column;
  }
  .form-right{
   width: 100%;
  }
  .cover{
    flex-direction: column;
  }
  .cadeau{
    left: 100px;
    top: 1200px;
  }
}