.map iframe {
  width: 1200px;
  height: 500px;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-titre {
  text-align: center;
  margin: 0;
}

.section-titre h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.section-titre h3 {
  font-size: 26px;
  margin-bottom: 12px;
}

.section-titre p {
  color: #4b5563;
}
.en-tete {
  margin-bottom: 64px;
}
footer {
  margin-top: 64px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form-right {
  width: 35%;
}
.form-left {
  width: 45%;
  background-color: #4b5563;
  padding: 10px;
    display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.conta{
    
}